<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Timetable_Tape.Timetable_Tape" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="Timetable_Tape" android:theme="@android:style/Theme.Holo.Light.DarkActionBar"></application>
</manifest>